{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Post{% endblock %}

{% block page_content %}
<ul class="posts">
	{% for post in posts %}
	<li class="post" >
		<div class="post-thumbnail">
			<a href="{{ url_for('user', username=post[0]) }}">
			<img class="img-rounded comment-thumbnail" src={{ post[1] }} style="width:40px;height:40px;">
			</a>
		</div>
		<div class="post-content">
			<div class="post-date">{{ moment(post[3]).format('YYYY-M-D h:mm:ss') }}</div>
			<div class="post-author"><a href="{{ url_for('user', username=post[0]) }}">{{ post[0] }}</a></div>
			<div class="post-body col-md-11">{{ post[2] }}</div>
			<div class="post-footer">
				{% if post[0] == name %}
					<a href="{{ url_for('editpost', postId=post[4]) }}">
						<span class="label label-default">编辑</span>
					</a>
				{% endif %}
			</div>
			<div class="clear:both"></div>
		</div>
	</li>
	{% endfor %}
</ul>
<div class="comment-wtf">
	{% if name %}
		<div class="container">
		<form method="POST">
			{{ form.hidden_tag() }}
			{{ form.body.label }}
			<div class='form-group'>
			{{ form.body(cols=120, rows=3) }}
			</div>
			{{ form.submit }}
		</form>
		</div>
	{% endif %}
</div>
<div class="page-header">
<h3>评论</h3>
</div>
{% include '_comments.html' %}
{% include '_page-comment.html' %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}